body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Inter-Bold", "Inter", sans-serif;
}

.frame {
    width: 1400px;
    height: 900px;
    box-shadow: 5px 5px 4px 6px rgba(0, 0, 0, 0.55);
    background-color: #cfe7ea;
    overflow: visible;
    border-radius: 89px;
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-nav {
    z-index: 20;
    position: absolute;
    margin-left: 45%;
    margin-top: 0%;
    color: rgb(29, 126, 139);
    font-size: 300px;
    border-radius: 100%;
    font-weight: 5000;
    font-size: 200px;
}

.frame .content {
    width: 100%;
    min-height: 800px;
    background-color: #dbcfc5;
    overflow: hidden;
    border-radius: 50px;
    box-shadow: 6px 6px 4px 7px rgba(0, 0, 0, 0.25);
    padding: 1rem;
}

.content .title {
    overflow: visible;
    white-space: pre;
    font-weight: 400;
    font-style: normal;
    font-family: "Just Me Again Down Here", cursive, serif;
    color: #1d7e8b;
    letter-spacing: 0px;
    line-height: 1.2;
    text-align: center;
    padding: 1rem;
    font-size: 5rem;
}

.units,
.hours {
    width: auto;
    box-shadow: 6px 6px 4px 7px rgba(0, 0, 0, 0.25);
    background-color: #1d7e8b;
    overflow: visible;
    border-radius: 45px;
    margin: 5px;
    overflow: visible;
    white-space: pre;
    font-weight: 400;
    font-style: normal;
    font-family: "Just Me Again Down Here", cursive, serif;
    color: white;
    letter-spacing: 0px;
    line-height: 1.2;
    text-align: center;
    padding: 1.5rem;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.units {
    height: 400px;
}

.hours {
    height: 200px;
}

.units h4,
.hours h4 {
    font-size: 40px;
}

.units .unit {
    width: auto;
    background-color: #dbcfc5;
    color: black;
    padding: 10px;
    margin: 10px;
    border-radius: 500px;
    font-size: 20px;
}

.hours .hour {
    font-size: 50px;
}

.create-session {
    width: 300px;
    height: 200px;
    box-shadow: 6px 6px 4px 7px rgba(0, 0, 0, 0.25);
    background-color: #dbcfc5;
    color: #638b1d;
    overflow: visible;
    border-radius: 50px;
    font-weight: 400;
    font-style: normal;
    font-family: "Just Me Again Down Here", cursive, serif;
    font-size: 30px;
    padding: 30px;
    position: relative;
    float: right;
    top: 100px;
}

#create-btn {
    width: 80px;
    height: 80px;
    border-radius: 500px;
    font-family: "Courier New", Courier, monospace;
    font-weight: 800;
    font-size: 50px;
    text-align: center;
    color: #1d7e8b;
    border: 5px solid #1d7e8b;
    background-color: #dbcfc5;
    margin-top: 20px;
}

#create-btn:active {
    color: white;
    border-color: white;
}

#search-session {
    background-color: rgb(245, 245, 245);
    border-radius: 45px;
    border: none;
    position: cover;
    z-index: 2;
    width: 90%;
    height: 50px;
    text-align: center;
    text-size-adjust: 100px;
    font-size: large;
    margin: 10px;
    margin-bottom: 20px;
}

.sessions {
    margin-right: 30px;
    width: 650px;
    height: 575px;
    overflow: scroll;
    display: table-cell;
    padding: 10px;
    padding-top: 0;
}

.session-card {
    margin-top: 30px;
    background-color: rgb(245, 245, 245);
    width: 100%;
    height: 30%;
    padding: 10px;
    border-radius: 50px;
}
